header
    background: url(/assets/img/header_bg.jpg)

    background-repeat: no-repeat
    background-attachment: scroll
    background-position: center center
    background-size: cover

    color: white
    height: calc(100vh - 45px)

    overflow: hidden
    display: flex

    justify-content: center
    align-items: center
    // text-align: center

    div
        text-align: left
        display: inline-block
        max-width: 450px

    #landing-text
        // font-size: 22px
        font-family: 'Open Sans', serif
        font-weight: 600

        // padding: 20px 70px
        // margin-top: 60px

        h1
            font-family: 'Slabo 27px', serif
            font-weight: 400
        
        #how-works img
            vertical-align: middle
            width: 40px

        #buttons-container
            display: block
            width: 100%
            margin-top: 40px

            &>.btn-group
                width: 100%
                display: flex
                margin-bottom: 20px

                .btn
                    display: block
                    margin: 0 5px
    
    #landing-img
        // background: black
        max-width: 560px

        img
            width: 100%

    #landing-green
        color: #c1f61d
