.service-container
    margin: 25px 0 80px 0
    text-align: center

    .pilot-program
        // Look up the font
        font-size: 22px
        color: #c6771e// #c87705
        margin: 10px

    .pilot-program-register
        font-family: 'Slabo 27px', serif
        letter-spacing: 4px
        margin: 10px
        margin-bottom: 40px
        font-weight: 200

    button
        transition: transform .2s
        color: #929292
        padding: 8px 20px

        &:hover
            transform: scale(1.05)

#why-ehh
    h2
        font-size: 3rem
        font-weight: 500
        color: #848484
        margin-bottom: 10px
    
    h3
        color: #929292
        font-weight: 600
        margin-bottom: 5px
    
    p
        max-width: 630px
        font-size: 14px
        padding: 0 20px
        margin: 0 auto
        color: #888

