@import 'nav'
@import 'header'
@import 'countries'
@import 'services'

// body
//     border: 1px solid red

.btn
    border-radius: 20px
    padding: 5px 20px
    font-size: 14px
    vertical-align: middle

.orange-btn
    background: #ce5c00
    transition: background .3s

.white-outline-btn
    background: none
    border: 1px solid white
    transition: background .3s

.out-dark
    background: none
    border: 1px solid black
    transition: background .3s
    vertical-align: middle
