#main-nav {
  max-height: 45px;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Montserrat';
}

#main-nav #nav-logo {
  margin-top: 5px;
  width: 200px;
  max-height: 100%;
}

#main-nav #navbar-actions {
  padding: 0;
  margin: 0;
}

#main-nav #navbar-actions .nav-item {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}

header {
  background: url(/assets/img/header_bg.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  color: white;
  height: calc(100vh - 45px);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header div {
  text-align: left;
  display: inline-block;
  max-width: 450px;
}

header #landing-text {
  font-family: 'Open Sans', serif;
  font-weight: 600;
}

header #landing-text h1 {
  font-family: 'Slabo 27px', serif;
  font-weight: 400;
}

header #landing-text #how-works img {
  vertical-align: middle;
  width: 40px;
}

header #landing-text #buttons-container {
  display: block;
  width: 100%;
  margin-top: 40px;
}

header #landing-text #buttons-container > .btn-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

header #landing-text #buttons-container > .btn-group .btn {
  display: block;
  margin: 0 5px;
}

header #landing-img {
  max-width: 560px;
}

header #landing-img img {
  width: 100%;
}

header #landing-green {
  color: #c1f61d;
}

#countries-show {
  margin-top: 1px;
}

#countries-show #countries-elements {
  height: 237px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
}

#countries-show #countries-elements .img-container {
  position: relative;
  height: 100%;
  width: calc(100vw/3);
}

#countries-show #countries-elements .img-container img {
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
}

#countries-show #countries-elements .img-container .country-detail {
  position: absolute;
  bottom: 40px;
  left: 50px;
}

#countries-show #countries-elements .img-container .country-detail h3 {
  font-size: 2rem;
}

#countries-show #countries-elements .img-container .country-detail h3, #countries-show #countries-elements .img-container .country-detail h4 {
  font-family: 'Slabo 27px', serif;
  font-weight: 400;
  margin: auto;
}

#countries-show #countries-elements .img-container .country-deploy {
  position: absolute;
  font-size: 24px;
  bottom: 10px;
  left: 50%;
  margin-left: -24px;
  right: 0;
}

#countries-show #countries-elements .img-container .country-deploy .depl-arrow {
  cursor: pointer;
}

#countries-show #countries-elements .img-container .country-deploy:hover > .depl-arrow {
  color: #f7972a;
}

#countries-show #countries-elements .img-container .country-deploy:hover > .register-deploy {
  opacity: 1;
  height: auto;
  display: block;
}

#countries-show #countries-elements .img-container .country-deploy .register-deploy {
  opacity: 0;
  height: 0;
  display: none;
  overflow: hidden;
  position: absolute;
  background: #e9e9e9;
  color: black;
  left: -80%;
  right: 0;
  padding: 30px 40px;
  -webkit-transition: opacity 4s;
  transition: opacity 4s;
}

#countries-show #countries-elements .img-container .country-deploy .register-deploy div {
  margin-bottom: 15px;
}

#countries-show #countries-elements .img-container .country-deploy .register-deploy img {
  overflow: hidden;
  min-width: auto;
  width: 25px;
}

#countries-show #countries-controls {
  text-align: center;
}

#countries-show #countries-controls button {
  margin: 0 5px;
}

#countries-show #countries-controls button img {
  width: 50px;
}

#countries-show #countries-controls button img:hover {
  -webkit-filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.4));
}

.service-container {
  margin: 25px 0 80px 0;
  text-align: center;
}

.service-container .pilot-program {
  font-size: 22px;
  color: #c6771e;
  margin: 10px;
}

.service-container .pilot-program-register {
  font-family: 'Slabo 27px', serif;
  letter-spacing: 4px;
  margin: 10px;
  margin-bottom: 40px;
  font-weight: 200;
}

.service-container button {
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  color: #929292;
  padding: 8px 20px;
}

.service-container button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#why-ehh h2 {
  font-size: 3rem;
  font-weight: 500;
  color: #848484;
  margin-bottom: 10px;
}

#why-ehh h3 {
  color: #929292;
  font-weight: 600;
  margin-bottom: 5px;
}

#why-ehh p {
  max-width: 630px;
  font-size: 14px;
  padding: 0 20px;
  margin: 0 auto;
  color: #888;
}

.orange-gradient {
  background: radial-gradient(circle, #e8af18 0%, #e37a00 100%);
}

.blue-gradient {
  background: radial-gradient(circle, #009cb2 0%, #024962 100%);
}

.green-gradient {
  background: radial-gradient(circle, #00b25a 0%, #02622e 100%);
}

main {
  position: relative;
}

main .arrow-connection {
  position: absolute;
  z-index: 200;
  left: 50%;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

main section {
  background: #e6e6e6;
  color: white;
  font-family: 'Source Sans Pro', serif;
  font-weight: 400;
  padding: 115px 100px;
  position: relative;
  overflow-y: hidden;
}

main section .back-service-img {
  top: 0;
  left: 0;
  width: 320px;
  position: absolute;
  -webkit-transition: none;
  transition: none;
}

main section .service-main {
  padding: 40px 70px;
  max-width: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-size: 13px;
}

main section .service-content p {
  max-width: 430px;
}

main section .service-content ul {
  margin: 35px 0 35px -20px;
}

main section .service-content h1 {
  font-family: 'Slabo 27px', serif;
  font-size: 44px;
  font-weight: 400;
  margin: 0;
}

main section .service-content h5 {
  font-family: unset;
  font-weight: 400;
  color: black;
  font-size: 22px;
  margin: 0;
}

main section .service-content li {
  list-style: url(/assets/img/check_yellow.svg);
  margin-bottom: 5px;
}

main section .service-content .red-checks li {
  list-style: url(/assets/img/check_red.svg);
}

main section .service-content p {
  line-height: 19px;
}

main section .service-content button {
  margin: 0 10px;
}

.service-img {
  width: 560px;
  position: absolute;
  right: -290px;
  top: -90px;
}

main section.reversed {
  direction: rtl;
}

main section.reversed .back-service-img {
  left: auto;
  right: 0;
}

main section.reversed .service-main {
  direction: ltr;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

main section.reversed .service-main .service-img {
  left: -290px;
}

.btn {
  border-radius: 20px;
  padding: 5px 20px;
  font-size: 14px;
  vertical-align: middle;
}

.orange-btn {
  background: #ce5c00;
  border: 1px solid #ce5c00;
  -webkit-transition: background .3s;
  transition: background .3s;
}

.orange-btn:hover {
  background: none;
  color: white;
}

.white-outline-btn {
  background: none;
  border: 1px solid white;
  -webkit-transition: background .3s;
  transition: background .3s;
}

.white-outline-btn:hover {
  background: white;
  color: #ce5c00;
}

.out-dark {
  background: none;
  border: 1px solid black;
  -webkit-transition: background .3s;
  transition: background .3s;
  vertical-align: middle;
}
