#main-nav {
  max-height: 45px;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Montserrat';
}

#main-nav #nav-logo {
  margin-top: 5px;
  width: 200px;
  max-height: 100%;
}

#main-nav #navbar-actions {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat';
}

#main-nav #navbar-actions .nav-item {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}

#main-nav #navbar-actions .nav-item a {
  color: unset;
}

@media screen and (max-width: 1024px) {
  #main-nav #navbar-actions {
    display: none;
  }
}

header {
  background: url(../img/header_bg.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  color: white;
  height: calc(100vh - 45px);
  max-height: 800px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
}

header div {
  text-align: left;
  display: inline-block;
  max-width: 450px;
}

header #landing-text {
  font-family: 'Open Sans', serif;
  font-weight: 600;
}

header #landing-text h1 {
  font-family: 'Slabo 27px', serif;
  font-weight: 400;
}

header #landing-text .how-works img {
  vertical-align: middle;
  width: 40px;
}

header #landing-text .buttons-container {
  display: block;
  width: 100%;
  margin-top: 40px;
}

header #landing-text .buttons-container > .btn-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

header #landing-text .buttons-container > .btn-group .btn {
  display: block;
  margin: 0 5px;
}

header #landing-text .buttons-container .cto-programs:hover {
  color: #ce5c00;
  background: white;
}

header #landing-text .buttons-container .btn.white-outline-btn:hover {
  color: black;
  background: white;
}

header #landing-img {
  max-width: 560px;
}

header #landing-img img {
  width: 100%;
}

header #landing-green {
  color: #c1f61d;
}

header #landing-subheader-responsive {
  display: none;
  background: #553407;
  width: 100%;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  header #landing-text h1 {
    font-size: 2.2rem;
  }
  header #landing-text .landing-sub {
    width: 300px;
  }
}

@media screen and (max-width: 768px), screen and (max-height: 520px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    padding: 0;
  }
  header #landing-text {
    text-align: center;
  }
  header #landing-subheader {
    display: none;
  }
  header #landing-subheader-responsive {
    display: block;
    padding: 5px 20vw 40px 20vw;
  }
  header #landing-subheader-responsive .how-works {
    text-align: center;
  }
  header #landing-subheader-responsive .how-works * {
    vertical-align: middle;
  }
  header #landing-subheader-responsive .buttons-container {
    text-align: center;
  }
  header #landing-subheader-responsive .buttons-container .btn-group {
    margin: 10px;
  }
}

#countries-show {
  margin-top: 1px;
  max-width: 100%;
}

#countries-show #countries-elements {
  color: white;
}

#countries-show #countries-elements .slick-list {
  overflow: visible;
}

#countries-show #countries-elements .img-container {
  position: relative;
  height: 237px;
}

@media screen and (min-width: 2048px) {
  #countries-show #countries-elements .img-container {
    height: 350px;
  }
  #countries-show #countries-elements .img-container .country-detail {
    left: 100px;
  }
  #countries-show #countries-elements .img-container .country-detail h3 {
    font-size: 3rem;
  }
}

#countries-show #countries-elements .img-container img {
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
}

#countries-show #countries-elements .img-container .country-detail {
  position: absolute;
  bottom: 40px;
  left: 50px;
}

#countries-show #countries-elements .img-container .country-detail h3 {
  font-size: 2rem;
}

#countries-show #countries-elements .img-container .country-detail h3, #countries-show #countries-elements .img-container .country-detail h4 {
  font-family: 'Slabo 27px', serif;
  font-weight: 400;
  margin: auto;
}

#countries-show #countries-elements .img-container .country-deploy {
  position: absolute;
  font-size: 24px;
  top: calc(100% - 15px);
  left: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
}

#countries-show #countries-elements .img-container .country-deploy .depl-arrow {
  position: relative;
  cursor: pointer;
  width: 20px;
  min-width: auto;
  margin: 0 auto;
}

#countries-show #countries-elements .img-container .country-deploy .register-deploy {
  display: none;
  background: #e9e9e9;
  color: black;
  padding: 30px 40px;
  -webkit-transition: opacity 4s;
  transition: opacity 4s;
  font-size: 1em;
  margin-top: 5px;
}

#countries-show #countries-elements .img-container .country-deploy .register-deploy div {
  margin-bottom: 15px;
}

#countries-show #countries-elements .img-container .country-deploy .register-deploy img {
  min-width: auto;
  width: 25px;
  display: inline-block;
}

#countries-show #countries-elements .img-container .country-deploy .register-deploy .btn {
  color: white;
  border: white;
}

#countries-show #countries-elements .img-container .country-deploy .register-deploy .btn:hover {
  color: #ce5c00;
  background: white;
  border: none;
}

#countries-show #countries-controls {
  text-align: center;
}

#countries-show #countries-controls button {
  margin: 0 5px;
}

#countries-show #countries-controls button img {
  width: 50px;
}

#countries-show #countries-controls button img:hover {
  -webkit-filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.4));
}

.service-container {
  margin: 25px 0 80px 0;
  text-align: center;
}

.service-container .pilot-program {
  font-size: 22px;
  color: #c6771e;
  margin: 10px;
}

.service-container .pilot-program-register {
  font-family: 'Slabo 27px', serif;
  letter-spacing: 4px;
  margin: 10px;
  margin-bottom: 40px;
  font-weight: 200;
}

.service-container a {
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  color: #929292;
  padding: 8px 20px;
}

.service-container a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#why-ehh h2 {
  font-size: 3rem;
  font-weight: 500;
  color: #848484;
  margin-bottom: 10px;
  word-wrap: break-word;
}

@media screen and (max-width: 512px) {
  #why-ehh h2 {
    font-size: 2.4rem;
  }
}

#why-ehh h3 {
  color: #929292;
  font-weight: 600;
  margin-bottom: 5px;
}

#why-ehh p {
  max-width: 630px;
  font-size: 14px;
  padding: 0 20px;
  margin: 0 auto;
  color: #888;
}

.orange-gradient {
  background: radial-gradient(circle, #e8af18 0%, #e37a00 100%);
}

.blue-gradient {
  background: radial-gradient(circle, #009cb2 0%, #024962 100%);
}

.green-gradient {
  background: radial-gradient(circle, #00b25a 0%, #02622e 100%);
}

main {
  position: relative;
}

main .arrow-connection {
  position: absolute;
  z-index: 200;
  left: 50%;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

main section {
  background: #e6e6e6;
  color: white;
  font-family: 'Source Sans Pro', serif;
  font-weight: 400;
  padding: 115px 100px;
  position: relative;
  overflow: hidden;
}

main section .back-service-img {
  top: 0;
  left: 0;
  width: 320px;
  position: absolute;
  -webkit-transition: none;
  transition: none;
}

main section .service-main {
  padding: 40px 70px;
  max-width: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-size: 13px;
}

main section .service-content p {
  max-width: 430px;
}

main section .service-content ul {
  margin: 35px 0 35px -20px;
}

main section .service-content h1 {
  font-family: 'Slabo 27px', serif;
  font-size: 44px;
  font-weight: 400;
  margin: 0;
}

main section .service-content h5 {
  font-family: unset;
  font-weight: 400;
  color: black;
  font-size: 22px;
  margin: 0;
}

main section .service-content li {
  list-style: url(../img/check_yellow.svg);
  margin-bottom: 5px;
}

main section .service-content .red-checks li {
  list-style: url(../img/check_red.svg);
}

main section .service-content p {
  line-height: 19px;
}

main section .service-content a {
  margin: 0 10px;
}

main section .service-content a * {
  vertical-align: middle;
}

@media screen and (max-width: 1024px) {
  main .arrow-connection {
    display: none;
  }
  main section {
    padding: 0;
    height: auto;
    display: block;
    width: 100%;
  }
  main section .service-main {
    max-width: unset;
    padding: 20px;
    display: block;
  }
  main section .service-img {
    width: 70vw;
    margin: 0 auto;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    display: block;
  }
  main section.reversed {
    direction: ltr;
  }
  main section.reversed .service-main img.service-img {
    left: auto;
  }
}

@media screen and (min-width: 1440px) {
  main section.reversed .service-main {
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
  }
  main section.reversed .service-main .service-content {
    -webkit-transform: translateX(25vw);
            transform: translateX(25vw);
  }
  main section.reversed .service-main img.service-img {
    left: -7.5vw;
  }
  main section .service-main {
    max-width: 50vw;
    height: 30vw;
    margin: 0 auto;
    padding-top: 3vw;
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
  }
  main section .service-content h1 {
    font-size: 3vw;
    margin-bottom: 10px;
  }
  main section .service-content h5 {
    font-size: 1.3vw;
    margin-bottom: 30px;
  }
  main section .service-content p, main section .service-content ul, main section .service-content a {
    max-width: 50%;
    line-height: 1.2em;
    font-size: 1.1vw;
  }
  main section .service-content ul {
    margin-top: 5px;
  }
  main section .service-content .service-buttons {
    margin-top: 2em;
  }
  main section .service-img {
    width: auto;
    height: 100%;
    top: -30px;
    left: unset;
    right: -7.5vw;
  }
  main section .back-service-img {
    left: 8vw;
    width: 22vw;
    max-height: 100%;
  }
}

.service-img {
  width: 560px;
  position: absolute;
  right: -290px;
  top: -90px;
}

main section.reversed {
  direction: rtl;
}

main section.reversed .back-service-img {
  left: auto;
  right: 0;
}

main section.reversed .service-main {
  direction: ltr;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

main section.reversed .service-main .service-img {
  left: -290px;
}

.btn {
  border-radius: 20px;
  padding: 5px 20px;
  font-size: 14px;
  vertical-align: middle;
}

.orange-btn {
  background: #ce5c00;
  -webkit-transition: background .3s;
  transition: background .3s;
}

.white-outline-btn {
  background: none;
  border: 1px solid white;
  -webkit-transition: background .3s;
  transition: background .3s;
}

.out-dark {
  background: none;
  border: 1px solid black;
  -webkit-transition: background .3s;
  transition: background .3s;
  vertical-align: middle;
}
